{% extends "base.html" %}

{% block content %}

<a href="/pervaya" class="btn btn-warning">< Назад</a>
<h1>Вы знаете Геннадия Горина всего лишь на: {{res_p}}.</h1>
<h4>Генадию Горину грустно, чтобы ему стало весело узнайте больше о нём, смотря его ютуб канал:</h4>
<a href="https://www.youtube.com/channel/UCreZ0TYdHi-i7zhi97U5T1Q">https://www.youtube.com/channel/UCreZ0TYdHi-i7zhi97U5T1Q</a>
<img src="{{ url_for('static', filename='Images/sad_g.jpg') }}" width="740" height="380"></img>

{% endblock %}